Cython>=0.29
networkx>=2.5
decorator==4.4.2
six>=1.15
enum34>=1.1.10
ipython
svgwrite
websock
pytest
PyYAML
pandas
pymetis
git+https://github.com/networkx/networkx-metis.git
git+https://github.com/ganeshgore/spydrnet.git
