
img.main-image{
    margin-top: 30px;
}

body[data-theme=dark] img {
    filter: invert(1);
    font-family: Lato;
    font-size: 14px;
}

dl.py.class {
    line-height: 1.25;
}

dl.py.method {
    padding-bottom: 12px;
}

span.descname {
    font-size: 18px;
    font-weight: 600;
    color: #2962ff;
}

dl.field-list {
    display: grid;
    grid-template-columns: max-content auto;
}

.hidden { display: none }

.ascii pre {
    line-height: 1.05;
    background: whitesmoke;
    padding: 10px 40px
}

.ascii .highlight {
    background: none;
    margin: auto;
    width: auto;
}

/* 
.sphx-glr-thumbcontainer {
    min-height: 200px !important;
    margin: 5px !important;
}

.sphx-glr-thumbcontainer .figure {
    width: 100px !important;
}

.sphx-glr-thumbcontainer img {
    max-height: 120px !important;
    width: 80px !important;
}

.sphx-glr-thumbcontainer a.internal {
    padding: 100px 10px 0 !important;
} */

ul.circlelist {
    list-style-type: circle;
}

.sphx-glr-thumbcontainer {
    min-height: 150px;
}

.sidebar-tree .reference.external:after {
    content: none !important;
}