# List Python Packages Required for Documentation
mock==1.0.1
Pillow>=8.3.2
six
pybtex
sphinx==4.2.0
sphinx-reload
sphinx-gallery==0.10.0
sphinxcontrib_hdl_diagrams
sphinx-autobuild
commonmark==0.8.1
recommonmark==0.5.0
matplotlib==3.4.3
networkx==2.5
furo==2021.10.9
git+git://github.com/ganeshgore/spydrnet@main#egg=spydrnet
