


@font-face { font-family: Lato;
    src: url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap'); }


dt {
    background: antiquewhite;
    border-top: solid 3px #900;
    padding: 3px 13px;
    margin-bottom: 5px;
    font-style: italic;
    /* font-weight: 600; */
}

.conclusion.admonition {
    background-color: #efefe4;
    border-left: 6px solid#900;
    padding: 12px 10px;
}


.conclusion.admonition p {
    color: #900;
    font-style: italic;
}

.ref.admonition p {
    line-height: 1;
    margin-top: 10px;
}

.ref.admonition p {
    line-height: 1;
    margin-top: 10px;
}

.ref.admonition p.admonition-title {
    /* border-left: 4px solid #CCC; */
    padding-left: 5px;
    font-size: 20px;
    font-weight: bold;
}

.ref.admonition a {
    padding: 2px 5px;
    margin-right: 5px;
    text-align: center;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    font-size: 10px;
    line-height: 30px;
}

.ref.admonition a.dropbox {
    background: #0061ff;
}
.ref.admonition a.dropbox::after {
    content: " DB ";
  }

.ref.admonition a.localfile {
    background: #158dd383;
}
.ref.admonition a.localfile::after {
    content: " LO ";
  }

.ref.admonition a.connectpaper {
    background: #7f858d;
}
.ref.admonition a.connectpaper::after {
    content: " CP ";
  }

.ref.admonition a.semanticscholar {
    background:#2e414f;
}
.ref.admonition a.semanticscholar::after {
    content: " SS ";
  }
.ref.admonition a.Mendeley {
    background:#BC2426 ;
}
.ref.admonition a.Mendeley::after {
    content: " MD ";
  }

.ref.admonition {
    background-color: white;
    border: none;
    border-bottom: 4px solid #CCC;
    margin-bottom: 0px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
}