
img.main-image{
    margin-top: 30px;
}

body[data-theme=dark] img {
    filter: invert(1);
}

dl.field-list {
    display: grid;
    grid-template-columns: max-content auto;
}

.hidden { display: none }

.sphx-glr-thumbcontainer {
    min-height: 200px !important;
    margin: 5px !important;
}

.sphx-glr-thumbcontainer .figure {
    width: 100px !important;
}

.sphx-glr-thumbcontainer img {
    max-height: 120px !important;
    width: 80px !important;
}

.sphx-glr-thumbcontainer a.internal {
    padding: 100px 10px 0 !important;
}