name: Documentation

on: [push, pull_request]

jobs:
  build_docs:
    runs-on: ubuntu-latest
    container: ghcr.io/ganeshgore/sdpphy-docs-image:latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Build Documentation
        shell: bash
        id: build
        run: |
          source /tmp/buildenv/bin/activate
          bash ./.github/build_env.sh
          if [ -f "docs/requirements.txt" ]; then
            python3 -m pip install --upgrade \
            --no-cache-dir -r docs/requirements.txt
          fi
          export PYTHONPATH=$PYTHONPATH:${PWD}
          cd docs && make html
          sed -i "/.*docs.*build.*/d" .gitignore
          cat .gitignore
      - name: Upload regression results
        if: ${{ failure() }}
        uses: actions/upload-artifact@v2
        with:
          name: docs_build
          retention-days: 2
          path: |
            docs/**/*
            examples/**/*
      - name: Prepare developement documentation
        if: ${{ (steps.build.outcome == 'success') && (github.ref == 'refs/heads/pre_release') }}
        shell: bash
        id: prepare_pre_release
        run: |
          mv docs/build/html docs/build/html/pre_release
          find docs/build/html/pre_release  -name "*.html*" -exec sed -i "s/<head>/<head><base href=\"pre_release\">/" {} \;
      - name: Deploy documentation
        if: ${{ (steps.build.outcome == 'success') && (github.ref == 'refs/heads/main' || (github.ref == 'refs/heads/pre_release')) }}
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: docs
          publish_dir: docs/build/html
          destination_dir: docs
          exclude_assets: "doctrees"
